<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<nav>
    <li>
        <a href="/celebrities/create">Create celebrity</a>
    </li>
    <li>
        <a href="/celebrities">See list of celebrities</a>
    </li>
    <li>
        <a href="/movies/create">Create Movie</a>
    </li>
    <li>
        <a href="/movies">See list of movies</a>
    </li>
</nav>